:root{
    --dark-green: #2E852E;
}

:root{
    --green: #3FBF48;
}

:root{
    --light-green: #CDE8A9;
}

:root{
    --pastel-green: #8CE492;
}

:root{
    --black: #0D0D0D;
}

:root{
    --white: #F2F2F2;
}